


        
<link rel="stylesheet" href="/css/passwordreset.css">


<div class="form">
    <% if(user.id){%>
    <form action="/user/create-session" method="post">
        <h1 style="text-align: center;">Reset Password</h1>
        <label for="name">name</label>
        <input type="text" name="name" placeholder="your name" value="<%=user.name%>"  required> 
        <label for="email">email</label>
        <input type="email" name="email" placeholder="your email" value="<%=user.email%>">
        <label for="password">password</label>
        <input type="password" name="password" placeholder="your email" value="<%=user.password%>">
        
        
       <button>submit</button>
   
    </form>
    <%}%>
    
</div>