
<!-- <div>
<form action="/user/create-session" method="post">
    <h1>login page</h1>
    <input type="email" name="email" id="email" placeholder="email">
    <input type="password" name="password" required placeholder="password">
    <p><a href="/user/signup">sign up here</a></p>
    <button>signup</button>
</form>
</div> -->

    
<link rel="stylesheet" href="/css/signup.css">


<div class="form">
    <form action="/user/create-session" method="post">
        <div class="signup">
            <h1 style="text-align:center; margin-top: 10px;">Sign In</h1>
            
        
            <input type="email" name="email" id="email" placeholder="Email">
       
            <input type="password" name="password" required placeholder="Password">
        <button>Sign In</button>
        
        
    </div>
   
    </form>
    <h6 style="text-align: center;">Create an account</h6>
        <button class="btnclr"><a href="/user/signup">Sign Up</a></button>
        <button><a href="/user/auth/google">Google</a></button>
</div>
