<form action="/user/create-user" method="post">
    <input type="text" required placeholder="enter your name" name="name">
    <input type="email" name="email" id="email">
    <input type="password" name="password" required>
    <button>signup</button>
  

</form>