<link rel="stylesheet" href="/css/signup.css">


<div class="form">
    <form action="/user/create-user" method="post">
        <div class="signup">
            <h1 style="text-align:center; margin-top: 10px;">Sign Up</h1>
            <input type="text" required placeholder="Enter Your Name" name="name" >
        
            <input type="email" name="email" id="email" placeholder="Email">
       
            <input type="password" name="password" required placeholder="Password">
        <button>Sign Up</button>
        
        
    </div>
   
    </form>
    <h6 style="text-align: center;">Already have a account</h6>
        <button class="btnclr"><a href="/user/signin">Sign In</a></button>
        <button><a href="/user/auth/google">Google</a></button>
</div>

